
body {
  background: #fff;
  padding: 20px;
}
.vanta { 
  min-height: 700px;
  color: white;
  padding: 20px;
  font-size: 24px;
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.image-container img {
  border-radius: 50%;
  height: 400px; 
  width: 400px; 
  transition: transform 0.3s ease;
  margin-left : 400px;
  margin-top: 0px;
  box-shadow: 0 4px 8px rgba(15, 15, 15, 0.747); 
  margin-bottom: 250px;
}

.image-container img:hover {
  transform: translateY(-20px);
  box-shadow: 0 8px 16px rgb(24, 23, 23); /* Darken the shadow on hover */
}
.glass-navbar {
  background: rgba(13, 18, 71, 0);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  
}

.navbar-nav .nav-link {
  color: #000; /* Default link color */
  transition: color 0.3s;
  font-family: 'Poppins', sans-serif; ;

}
.navbar-nav{
  margin-left: 700px;
  font-weight: bold;
}

.icons{
  display: flex;
  margin-left: 10px;
}
.navbar-nav .nav-link:hover {
  color: #1b2057; /* Color on hover, e.g., Tomato */
}

.navbar-nav .nav-link.active {
  font-weight: bold; /* Optional: make the active link bold */
  color: #000;
}


.nav-link {
  transition: background 0.3s ease, color 0.3s ease;
  padding: 10px;
  border-radius: 5px;
}


.nav-link:hover {
  background: rgba(85, 222, 240, 0.425);
  color: black !important;
}
.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.text{font-family: 'Poppins', sans-serif;
  font-size: 44px;
margin-bottom: 100px;
margin-left: 50px;
width: 700px;
margin-top: 50px;}

.center{
  display: flex;
  margin-top: 80px;
  width: 900px;
  margin-left: 60px;
 
}
.developer{
  display: Flex;
  height: 100;
}
.icon{
  margin-left: 5px;
  margin-bottom: 30px;
}
.resume{
  margin-left: 10px;
}
